DATABASE_URL= tanya tristan
DB_PORT= tanya tristan
DB_USER= tanya tristan
DB_PASSWORD= tanya tristan
DB_NAME= tanya tristan
SECRET_KEY=change-this-secret-key-in-production
DB_INIT_ON_STARTUP=true
DB_INIT_FAIL_FAST=false